/* ---------------------------- */
/* General styles */
/* ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-font: font-family: 'Concert One', cursive;

  --primary-color: #8DB4AD;
  --secondary-color: #ECAE7D;
  --dark-color: ;
  --medium-color: #026C80;
  --light-color: #ffffff;
}


/* ---------------------------- */
/* Element styles */
/* ---------------------------- */
