/* ---------------------------- */
/* General styles */
/* ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-font: font-family: 'Poppins', sans-serif;
  --secondary-font: font-family: 'Nunito', sans-serif;
  --text-font: font-family: 'Montserrat', sans-serif;

  --primary-color: #008849;
  --secondary-color: ;
  --dark-color: #1a1a1a;
  --medium-color: #7a7a7a;
  --light-color: #f0efef;
}


/* ---------------------------- */
/* Element styles */
/* ---------------------------- */
body {
  height: 100vh;
  background-color: var(--medium-color);
  color: var(--light-color);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  padding-left: 2vw;
}

article {
  margin-bottom: 50px;
}

main {
  margin-bottom: 150px;
}

footer {
  width: 100%;
  padding: 50px 0px;
  font-family: var(--secondary-font);
  background-color: var(--dark-color);
  /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

li {
  list-style: none;
  cursor: pointer;
  color: var(--light-color);
  padding: 1.5vw;
  z-index: 20;
  transition: all 0.3s ease 0s;
}

li:hover {
  background-color: var(--primary-color);
}


/* ---------------------------- */
/* Class styles */
/* ---------------------------- */
.container_all {
  position: relative;
  right: 0;
  transition: all 300ms;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: var(--medium-color);
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: var(--primary-color);
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: var(--medium-color);
  font-weight: 600;
  text-decoration: none;
  transition: all ease-out .3s;
}

.box__footer a:hover {
  opacity: 0.8;
  color: var(--primary-color);
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: var(--medium-color);
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: var(--medium-color);
}

.cont-ul {
  display: flex;
  align-items: center;
}

.develop {
  position: relative;
}

.ul-second {
  display: none;
  position: absolute;
  margin-top: 1.5vw;
}

.ul-second > li {
  width: 190px;
  transform: translateX(-20px);
  border-bottom: solid 1px var(--light-color);
  text-align: center;
  background-color: var(--dark-color);
}

.ul-second > li:hover {
  background-color: var(--primary-color);
}

.develop:hover > .ul-second {
  display: block;
}

.ul-third {
  position: absolute;
  transform: translateX(100%);
  right: 0;
  top: 40%;
  display: none;
  background-color: #24252a;
}

.ul-third > li {
  padding: 1.5vw;
  border-bottom: solid 1px var(--primary-color);
}

.front:hover > .ul-third {
  display: block;
}