/* -------------------------- */
/* Element styles */
/* -------------------------- */
body {
    overflow: hidden;
}
header {
    margin-bottom: 5vh;
}
h1 {
    font-family: var(--primary-font);
    font-size: 40px;
    letter-spacing: 40px;
    margin-left: 10%;
    margin-bottom: 30px;
}
h4 {
    margin-left: 4vw;
    font-family: var(--phrase-font);
}
p {
    margin-bottom: 60px;
    margin-left: 4vw;
    margin-right: 4vw;
    font-family: var(--secondary-font);
    font-weight: 600;
}

/* -------------------------- */
/* Class styles */
/* -------------------------- */
.icono {
    width: 150px;
    height: 150px;
    padding-top: 10px;
    border-radius: 50%;
    position: absolute;
    top: 30vh;
    left: 4vw;
    background-color: var(--medium-color);
}
.bg {
    height: 50vh;
    width: 100vw;
}